<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div style="height:40px"><input type="radio" name="answer" value="0" th:field="*{answer}"/>Not At all</div>
    <div style="height:40px"><input type="radio" name="answer" value="1" th:field="*{answer}"/>Several Days</div>
    <div style="height:40px"><input type="radio" name="answer" value="2" th:field="*{answer}"/>More Than Half the Days</div>
    <div style="height:40px"><input type="radio" name="answer" value="3" th:field="*{answer}"/>Nearly Every Day</div>
</body>
</html>